*{
 background-color:#FFF888;
}
div{
  text-align:center; 
  
}
form{
  background-color:#123456;
  width:400px;
  padding:1.5%;
  margin:0 auto;
}
input{
  padding:5%;
  background-color:white;
  width:18%;
}
input:hover{
  background-color:#b3b3b3;
}
.screen{
  width:100%;
    font-size:150%;
  text-align:right;
}
.del{
  width:38%;
}
.last{
  width:22.7%;
}
span{
  background-color:#123456;
  color:#ffffff;
  float:right;
}
